@import "../utils/variables.module.scss";

.content_skill {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    p {
        font-size: 18px;
        margin: $PaddingBox*0.25 0px $PaddingBox*0.25 0px;
        color: $H3FontColor;
    }

    .content_rate {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .rate {
            width: 5px;
            height: 5px;
            //margin-right: 1px;
            background-color: $TagColor;
        }

        .noRate {
            width: 5px;
            height: 5px;
            //margin-right: 1px;
            background-color: $TagBC;
        }
    }
}