@import "../utils/variables.module.scss";

.thumbnails {
    width: 100%;
    background-color: $BodyBC;
    padding: $PaddingBox;
    box-sizing: border-box;
    border-radius: $DefaultBorderRadius;
    margin-bottom: $PaddingBox;

    h3,
    p {
        margin-bottom: 10px;
    }

    .content_tag {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}