@import "../utils/variables.module.scss";

.thumbnails {
    width: 100%;
    background-color: $BodyBC;
    padding: $PaddingBox;
    border-radius: $DefaultBorderRadius;
    margin-bottom: $PaddingBox;
    display: flex;
    flex-direction: row;
    align-items: start;
    box-sizing: border-box;

    .poster {
        width: 300px;
        margin-right: $PaddingBox*2;
        text-decoration: none;
        text-align: center;
        box-sizing: border-box;

        h4 {
            color: $TagColor;
            font-size: 20px;
        }

        .content_img {
            width: 300px;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .content_des {
        box-sizing: border-box;

        p {
            margin-bottom: $PaddingBox;
            font-size: 20px;
        }

        .content_tag {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 880px) {
    .thumbnails {
        flex-direction: column;

        .poster {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: $PaddingBox;
            margin-right: 0;

            .content_img {
                width: 100%;
                height: 100%;
            }
        }

        .content_des {
            text-align: justify;

            .content_tag {
                justify-content: space-between;
            }
        }
    }
}