@import "../utils/variables.module.scss";

.footer {
    width: $BodyWidth;
    height: $FooterHeight;
    padding: $PaddingBox;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    box-sizing: border-box;
}