@import "../utils/variables.module.scss";

.footer {
    width: $BodyWidth;
    height: $FooterHeight;
    background-color: $BodyBC;
    padding: $PaddingBox 0px $PaddingBox 0px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;

    .content_p {
        width: $NavigatorWidth;
        margin-left: $PaddingBox;
        box-sizing: border-box;

        h3 {
            margin: 0;
        }
    }


    .content_i {
        width: calc(100% - $NavigatorWidth);
        display: flex;
        flex-direction: row;
        justify-content: center;

        i {
            font-size: 40px;
            margin-right: $PaddingBox*2;
            cursor: pointer;
        }
    }
}

@media (max-width: 1155px) {
    .footer {
        .content_p {
            h3 {
                margin: 0px 0px 0px $PaddingBox;
            }
        }
    }
}

@media (max-width: 580px) {
    .footer {
        height: calc(120px + $PaddingBox);
        flex-direction: column;
        justify-content: center;

        .content_p {
            margin: 0;

            h3 {
                margin: 0px 0px $PaddingBox 0px;
            }
        }

        .content_i {
            i {
                margin: 0px $PaddingBox 0px $PaddingBox;
            }
        }
    }
}

@media (max-width: 355px) {
    .footer {

        .content_i {
            i {
                margin: 0px $PaddingBox*0.5 0px $PaddingBox*0.5;
            }
        }
    }
}