@import "../utils/variables.module.scss";

.footer {
    width: $BodyWidth;
    height: $FooterHeight;
    padding: $PaddingBox 120px $PaddingBox 120px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
}