@import "../utils/variables.module.scss";

.header {
    width: $BodyWidth;
    height: $HeaderHeight;
    background-color: $BodyBC;
    //filter: drop-shadow(0 6mm 2mm $BodyBC);
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    padding: $PaddingBox 120px $PaddingBox 50px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}

.avatar {
    height: 120px;
    filter: drop-shadow(0px 10px 8px $BodyBC);
    margin-right: 30px;
    margin-top: -15px;
}