@import "../utils/variables.module.scss";

.navigator {
    width: $NavigatorWidth;
    height: $PageHeight;
    padding: $PaddingBox;
    box-sizing: border-box;
    border-right: 0px solid $BodyBC;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    position: sticky;
    top: $HeaderHeight;

    ul {
        display: flex;
        flex-direction: column;
        padding: 0;

        .Link {
            margin-bottom: 15px;
            text-decoration: none;
            font-size: larger;
            color: $H1FontColor;
        }
    }
}

@media (max-width: 1024px) {

    .navigator {
        display: none;
    }

}