@import "../utils/variables.module.scss";

.navigator {

    ul {
        display: flex;
        flex-direction: column;
        padding: 0;

        .Link {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            margin-bottom: 15px;
            text-decoration: none;
            font-size: larger;
            color: $H1FontColor;

            i {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .navigator {

        ul {
            .Link {
                flex-direction: row-reverse;
                justify-content: end;

                i {
                    margin-right: calc($PaddingBox + 23px);
                    margin-left: $PaddingBox
                }
            }
        }
    }
}