@import "../utils/variables.module.scss";

@mixin flexColumn() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    margin: 0;
}

html {
    width: $Htmlwidth;
    background-color: $HtmlBC;
    @include flexColumn();
}

body {
    width: $BodyWidth;
    background-color: $BodyBC;
    @include flexColumn();
    /*PB avec chrome : scrollbar pas comprise dans 100vw et scrollbar-x apparait ! --> solution ::-webkit-scrollbar / ou ci-dessous*/
    //overflow-x: hidden;
}

::-webkit-scrollbar {
    height: $ScrollbarWidth;
    width: $ScrollbarWidth;
    background: $TagBC;
}

::-webkit-scrollbar-thumb {
    background: $TagColor;
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: $TagBC;
}

.content_main {
    @include flexColumn();
}

.main {
    width: $MainWidth;
    @include flexColumn();
}

* {
    color: $DefaultFontColor;
    font-family: "Noto Sans", sans-serif;
    margin: 0;
}

h1 {
    color: $H1FontColor;
}

h2 {
    color: $H2FontColor;
}

h3 {
    color: $H3FontColor;
    font-size: 25px;
    margin-top: $PaddingBox*2;
    margin-bottom: $PaddingBox*2;
}

h4 {
    color: $H3FontColor;
    font-size: 18px;
    margin-bottom: $PaddingBox;
}

p {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    margin-bottom: $PaddingBox;
}

i {
    color: $TagColor;
    margin-right: $PaddingBox*0.5;
}