$HtmlBC: rgb(23, 27, 36, 0.97);
$BodyBC: rgb(23, 27, 36, 0.97);
$MainBC: rgb(25, 30, 39);

$DefaultFontColor: rgb(203, 224, 255);
$H1FontColor: rgb(22, 223, 189);
$H2FontColor: rgb(255, 255, 255);
$H3FontColor: rgb(205, 216, 233);
$TagColor: rgb(22, 223, 189);
$TagBC: rgba(34, 179, 179, 0.2);

$ScrollbarWidth: 5px;
$Htmlwidth: calc(100vw - $ScrollbarWidth);
$BodyWidth: $Htmlwidth;
$MainWidth: min(100%, 1440px);
$HeaderHeight: 150px;
$FooterHeight: 120px;
$PageHeight: 100%; //calc(100vh - calc($HeaderHeight + $FooterHeight));
$NavigatorWidth: 275px;

$PaddingBox: 30px;
$DefaultBorderRadius: 10px;

$DropShadow: drop-shadow(0 0 0.1vmin $TagColor);