$HtmlBC: rgb(255, 255, 255);
$BodyBC: rgb(5, 15, 30);
$MainBC: rgb(10, 20, 40);
$BodyWidth: min(100%, 1440px);
$DefaultFontColor: rgb(203, 224, 255);
$H1FontColor: rgb(255, 255, 255);
$H2FontColor: rgb(255, 255, 255);
$H3FontColor: rgb(205, 216, 233);
$NavigatorWidth: 275px;
$HeaderHeight: 150px;
$FooterHeight: 120px;
$PaddingBox: 30px;
$DefaultBorderRadius: 10px;