@import "../utils/variables.module.scss";

.apropos {
    height: calc(100vh - calc($HeaderHeight + $FooterHeight));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $MainBC;

    .content_apropos {
        width: calc(100% - $NavigatorWidth);
        height: 100%;
        padding: $PaddingBox;
        box-sizing: border-box;
        overflow-y: auto;
    }
}