@import "../utils/variables.module.scss";

.home {
    width: $MainWidth;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    background-color: $MainBC;

    .content_page {
        width: calc($MainWidth - $NavigatorWidth);
        height: $PageHeight;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .content_apropos {
            width: 100%;
            padding: $PaddingBox;
            box-sizing: border-box;

            .apropos {
                font-family: "Edu TAS Beginner", cursive;
                font-size: 30px;
                padding: 8%;
            }
        }

        .content_competences {
            width: 100%;
            padding: $PaddingBox;
            box-sizing: border-box;
        }

        .content_CV {
            width: 100%;
            //height: 1.4143 * largeur = A4
            padding: $PaddingBox;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;

            .CVpage {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }

            img {
                max-width: 500px;
            }
        }

        .content_realisation {
            width: 100%;
            padding: $PaddingBox;
            box-sizing: border-box;
        }

    }
}