@import "../utils/variables.module.scss";

@mixin borderDEG() {
    border-top: 2px solid $TagBC;
    border-image: linear-gradient(90deg, $MainBC, $TagBC, $MainBC);
    border-image-slice: 1;
}

.home {
    width: $MainWidth;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    background-color: $MainBC;
    box-sizing: border-box;

    .content_nav {
        width: $NavigatorWidth;
        height: $PageHeight;
        padding: $PaddingBox;
        border-right: 0px solid $BodyBC;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        position: sticky;
        top: $HeaderHeight;
        box-sizing: border-box;
    }

    .content_page {
        width: calc($MainWidth - $NavigatorWidth);
        height: $PageHeight;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;

        .content_apropos {
            width: 100%;
            padding: $PaddingBox;
            box-sizing: border-box;

            .apropos {
                font-family: "Caveat", cursive;
                font-weight: 400;
                font-style: normal;
                font-size: 35px;
                padding: 5% 5% 0% 5%;
                text-align: justify;
                text-indent: 50px;
                margin: 0;
            }

            .citation {
                font-size: 25px;
                padding: 5%;
                margin: $PaddingBox*4 0px $PaddingBox*4 0px;
                text-align: center;
            }
        }

        .content_realisation {
            @include borderDEG();
            width: 100%;
            padding: $PaddingBox;
            box-sizing: border-box;
        }

        .content_competences {
            @include borderDEG();
            width: 100%;
            padding: $PaddingBox;
            box-sizing: border-box;

            .content_skillGroup {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
            }
        }

        .content_CV {
            @include borderDEG();
            width: 100%;
            padding: $PaddingBox;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            .CVpage {

                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }

            img {

                margin: $PaddingBox 0px $PaddingBox 0px;
                max-width: calc(100vw - $PaddingBox*2);
            }
        }
    }
}

@media (max-width: 1024px) {

    .home {
        .content_nav {
            display: none;
        }

        .content_page {
            width: $MainWidth;
        }
    }
}

@media (max-width: 870px) {
    h3 {
        text-align: center;
    }
}

@media (max-width: 620px) {
    h3 {
        margin-top: $PaddingBox;
        margin-bottom: $PaddingBox;
        font-size: 22px;
    }

    .home {
        .content_page {
            .content_apropos {
                .apropos {
                    font-size: 25px;
                }

                .citation {
                    font-size: 20px;
                }
            }
        }
    }
}