@import "../utils/variables.module.scss";

.home {
    height: calc(100vh - calc($HeaderHeight + $FooterHeight));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $MainBC;
        .content_home {
        width: calc(100% - $NavigatorWidth);
        height: 100%;
        padding: $PaddingBox;
        box-sizing: border-box;
        }
}